@import url('https://fonts.googleapis.com/css?family=Monoton|Open+Sans');
@import "./helpers/variables";

/* Universal Styles */

html {
  font-size: 14px;
}

body {
  font-family: "Open Sans", sans-serif;
}

h2 {
  font-size: 1.7rem;
  font-weight: bold;
  color: $skyblue;
}

h3 {
  font-size: 1.3rem;
  font-weight: bold;
}

img {
  max-width: 100%;
  height: auto;
  display: block;
}

.headline {
  margin: 0 auto;
  text-align: center;
}

.image-container {
  overflow: hidden;
  & > img {
    opacity: 0.75;
    transition: all 0.5s;
  }
  & > img:hover {
    opacity: 1.0;
    transform: scale(1.3);
  }
}

/* Bootstrap Overrides */

@import "./components/navbar";
@import "./components/buttons";
@import "./components/containers";

/* Header */

@import "./layout/header";

/* Hero Section */

@import "./layout/hero";

/* Featured Project Section */

@import "./layout/featured-project";

/* Projects Section */

@import "./layout/projects";

/* Footer */

@import "./layout/footer";
