@import "../helpers/variables";

#featured-project {
  .container {
    .row {
      #categories {
        h3 {
          color: $skyblue;
        }

        span {
          display: inline;
          line-height: 0.9;

          a {
            color: rgba(0, 0, 0, 0.7);

            &:hover {
              color: rgb(0, 63, 114);
            }
          }
        }
      }
    }
  }
}
