#help {
  background-color: #F3F3F3;

  .container-fluid {
    padding: 5.2rem 0;

    h1 {
      font-size: 2.5rem;
      font-weight: bold;
      margin-bottom: 1.4rem;
    }

    .cta {
      max-width: 42rem;

      p {
        margin-bottom: 2.8rem;
      }
    }
  }
}
