@import "../helpers/variables";

#hero {
  .carousel {
    .jumbotron {
      height: 44rem;
      background-size: cover;
      background-position: center;
      background-repeat: no-repeat;

      &.background-bike {
        background-image: url("../images/jumbotron-bike.jpg");
        padding-top: 10rem;
      }

      &.background-beer {
        background-image: url("../images/jumbotron-beer.jpg");
        padding-top: 11.85rem;
      }

      &.background-flowers {
        background-image: url("../images/jumbotron-flowers.jpg");
        padding-top: 11.85rem;
      }

      &.background-duffel {
        background-image: url("../images/jumbotron-duffel.jpg");
        padding-top: 11.85rem;
      }

      .container-fluid {
        color: white;

        h1 {
          font-family: Monoton;
          font-size: 7.1rem;
          text-shadow: $outline;
        }

        .cta {
          max-width: 51.3rem;

          p {
            margin-bottom: 2.8rem;
            font-size: 1.5rem;
            text-shadow: $outline;
          }
        }
      }
    }
  }
}

@media (max-width: 768px) {
  #hero {
    .carousel {
      .jumbotron {
        .container-fluid {
          h1 {
            font-size: 5rem;
          }
        }
      }
    }
  }
}
