#projects {
  margin-bottom: 5.85rem;
}

@media (max-width: 768px) {
  #projects {
    margin-bottom: 0;
    .container {
      .row {
        .project {
          margin-bottom: 5.85rem;
        }
      }
    }
  }
}
