@import url("https://fonts.googleapis.com/css?family=Monoton|Open+Sans");
/* Universal Styles */
html {
  font-size: 14px; }

body {
  font-family: "Open Sans", sans-serif; }

h2 {
  font-size: 1.7rem;
  font-weight: bold;
  color: #399BD1; }

h3 {
  font-size: 1.3rem;
  font-weight: bold;
  display: inline; }

img {
  width: 100%;
  height: auto;
  display: block; }

span {
  display: block;
  margin-bottom: 0.5rem; }

.container-fluid {
  text-align: center; }

.cta {
  margin: 0 auto;
  text-align: center; }

.image-container {
  overflow: hidden; }
  .image-container > img {
    opacity: 0.75;
    transition: all 0.5s ease-in-out; }
  .image-container > img:hover {
    opacity: 1.0;
    transform: scale(1.3); }

@media (max-width: 768px) {
  .container {
    max-width: 100%; } }
/* Bootstrap Overrides */
.navbar-nav .active {
  color: #399BD1 !important; }

.btn {
  box-shadow: 0 0 3px rgba(0, 0, 0, 0.5); }
  .btn.btn-lg {
    width: 11.4rem;
    padding: 1.3rem 0; }
  .btn.btn-primary {
    background-color: #399BD1;
    border: none; }
    .btn.btn-primary:hover {
      background-color: #399BD1;
      box-shadow: 0 0 12px rgba(0, 0, 0, 0.9); }
    .btn.btn-primary:active {
      background-color: #399BD1;
      box-shadow: 0 0 0 rgba(0, 0, 0, 0.5); }

/* Header */
header {
  font-size: 1.1rem;
  font-weight: bold; }

/* Hero Section */
#hero .carousel .jumbotron {
  height: 44rem;
  background-size: cover;
  background-position: center;
  background-repeat: no-repeat; }
  #hero .carousel .jumbotron.background-bike {
    background-image: url("../images/jumbotron-bike.jpg"); }
  #hero .carousel .jumbotron.background-beer {
    background-image: url("../images/jumbotron-beer.jpg"); }
  #hero .carousel .jumbotron.background-flowers {
    background-image: url("../images/jumbotron-flowers.jpg"); }
  #hero .carousel .jumbotron.background-duffel {
    background-image: url("../images/jumbotron-duffel.jpg"); }
  #hero .carousel .jumbotron .container-fluid {
    color: white;
    margin-top: 11.85rem; }
    #hero .carousel .jumbotron .container-fluid h1 {
      font-family: Monoton;
      font-size: 7.1rem;
      text-shadow: -1px -1px 0 black, 1px -1px 0 black, -1px 1px 0 black, 1px 1px 0 black; }
    #hero .carousel .jumbotron .container-fluid .cta {
      max-width: 51.3rem; }
      #hero .carousel .jumbotron .container-fluid .cta p {
        margin-bottom: 2.8rem;
        font-size: 1.5rem;
        text-shadow: -1px -1px 0 black, 1px -1px 0 black, -1px 1px 0 black, 1px 1px 0 black; }

@media (max-width: 768px) {
  #hero .carousel .jumbotron .container-fluid h1 {
    font-size: 5rem; } }
/* Featured Project Section */
#featured-project .container h2 {
  margin-bottom: 20px; }
  #featured-project .container h2 .row #categories h3 {
    color: #399BD1; }
  #featured-project .container h2 .row #categories a {
    line-height: 1.4;
    color: rgba(0, 0, 0, 0.7);
    text-decoration: none; }

/* Projects Section */
#projects {
  margin-bottom: 5.85rem; }

@media (max-width: 768px) {
  #projects {
    margin-bottom: 0; }
    #projects .container .row .project {
      margin-bottom: 5.85rem; } }
/* Help Section */
#help {
  background-color: #F3F3F3; }
  #help .container-fluid {
    padding: 5.2rem 0; }
    #help .container-fluid h1 {
      font-size: 2.5rem;
      font-weight: bold;
      margin-bottom: 1.4rem; }
    #help .container-fluid .cta {
      max-width: 42rem; }
      #help .container-fluid .cta p {
        margin-bottom: 2.8rem; }

/*# sourceMappingURL=main.css.map */
